@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body, #root {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    background: url(./assets/img-hero.png) no-repeat center/cover fixed;
    display: grid;
    place-items: center;
  }
}